.loader {
  color: grey;
  font-family: sans-serif;
  height: 5vh;
  left: 50%;
  overflow-x: hidden;
  padding-top: 7vh;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
}
.loader:before {
  animation: left-to-right 3s alternate infinite linear;
  background-image: linear-gradient(to right, transparent, red, transparent);
  content: "";
  height: 5vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.loader:after {
  background-image: repeating-linear-gradient(90deg, white, white 1vw, transparent 1vw, transparent 10vw);
  content: "";
  height: 5vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.regform{
  margin-top: 5%;
  text-align: center;
}

.reg{
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.container{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.toppit{
  margin-top: 10%;
}

.topdown{
  margin-top: 18%
}

#gebrerr{
  display: none;
}

#mailerr{
  display: none;
}

#wwerr{
  display: none;
}
#dberr{
  display: none;
}

#compl{
  display: none;
  font-size: 2rem;
}