*{
    margin: 0;
    padding: 0;
}

#brandcolor #logincolor{
    color: 	#aaaaaa;
}

.loginpopup{
    margin-top: 40%;
    display: none;
}

#forgotpw{
    text-align: center;
}

.btn-round {
    border-radius: 3rem;
  }

.form-control{
    margin: 2%;
}
/* Page loader */
.loader {
    color: grey;
    font-family: sans-serif;
    height: 5vh;
    left: 50%;
    overflow-x: hidden;
    padding-top: 7vh;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
  }
  .loader:before {
    animation: left-to-right 3s alternate infinite linear;
    background-image: linear-gradient(to right, transparent, red, transparent);
    content: "";
    height: 5vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }
  .loader:after {
    background-image: repeating-linear-gradient(90deg, white, white 1vw, transparent 1vw, transparent 10vw);
    content: "";
    height: 5vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }

  .prof-pic {
    display: inline-block;
    border-radius: 100px;
  }
  .post-container {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
  }
  .post-btn{
    display:inline-block;
    font-weight:400;
    line-height:1.5;
    color:#198754;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #198754;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
