*{
    margin: 0;
    padding: 0;
}

#brandcolor #logincolor{
    color: 	#aaaaaa;
}

.loginpopup{
    margin-top: 40%;
    display: none;
}

#forgotpw{
    text-align: center;
}

.btn-round {
    border-radius: 3rem;
  }

.form-control{
    margin: 2%;
}
/* Page loader */
@keyframes left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.loader {
    color: grey;
    font-family: sans-serif;
    height: 5vh;
    left: 50%;
    overflow-x: hidden;
    padding-top: 7vh;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
  }
  .loader:before {
    animation: left-to-right 3s alternate infinite linear;
    background-image: linear-gradient(to right, transparent, red, transparent);
    content: "";
    height: 5vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }
  .loader:after {
    background-image: repeating-linear-gradient(90deg, white, white 1vw, transparent 1vw, transparent 10vw);
    content: "";
    height: 5vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }